In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mtr\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mtr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mtr\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mtr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mtr\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\mtr\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("customer_purchase_data.csv")

In [4]:
df

,TransactionID,CustomerID,CustomerName,ProductID,ProductName,ProductCategory,PurchaseQuantity,PurchasePrice,PurchaseDate,Country
0,1,887,Kenneth Martinez,240,Router,Electronics,5,689.99,3/1/2024,Barbados
1,2,560,Joseph Anderson,299,Camera,Electronics,4,79.27,1/26/2024,Northern Mariana Islands
2,3,701,Vincent Reynolds,207,Electric Kettle,Home Appliances,3,666.75,5/13/2024,British Virgin Islands
3,4,630,Christopher Morris,290,Smartwatch,Electronics,5,316.19,9/21/2023,Guatemala
4,5,631,Sarah King,281,Toaster,Home Appliances,4,700.24,1/25/2024,Falkland Islands (Malvinas)
...,...,...,...,...,...,...,...,...,...,...
995,996,277,Larry Garcia,253,Electric Kettle,Home Appliances,2,796.67,1/3/2024,Gabon
996,997,340,Anthony Smith,233,Smart Bulb,Electronics,5,271.88,11/11/2023,Philippines
997,998,262,Scott Gordon,208,Air Conditioner,Home Appliances,5,594.69,11/4/2023,Jersey
998,999,216,Barbara Walker,233,Printer,Electronics,4,140.89,11/5/2023,Slovenia
999,1000,463,Patricia Hawkins,219,Television,Electronics,5,861.00,5/22/2024,Portugal

In [5]:
import numpy as np

In [7]:
import random
from datetime import datetime

In [10]:
total_purchases = len(df)
total_revenue = df['PurchasePrice'].sum()
average_purchase_value = total_revenue / total_purchases

In [29]:
average_purchase_value

np.float64(489.27471999999995)

In [11]:
# Top customers and their purchasing behavior
top_customers = df.groupby('CustomerName')['PurchasePrice'].sum().nlargest(5)
customer_behavior = df.groupby('CustomerName')['PurchasePrice'].mean()

In [6]:
# Convert 'PurchaseDate' column to datetime format
df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])

# Extract year and month from 'PurchaseDate'
df['Year'] = df['PurchaseDate'].dt.year
df['Month'] = df['PurchaseDate'].dt.month

# Analyze purchase trends over time
monthly_trends = df.groupby(['Year', 'Month'])['PurchasePrice'].sum()

In [7]:
monthly_trends

Year  Month
2023  6         4012.44
      7        47956.69
      8        33493.46
      9        46764.80
      10       38368.97
      11       39839.29
      12       51910.42
2024  1        43575.14
      2        41393.77
      3        37442.66
      4        34165.64
      5        42799.97
      6        27551.47
Name: PurchasePrice, dtype: float64

In [18]:
total_revenue = df['PurchasePrice'].sum()

In [25]:
df['PurchaseDate'] = pd.to_datetime(df['PurchaseDate'])
monthly_trends = df.groupby([df['PurchaseDate'].dt.year, df['PurchaseDate'].dt.month])['PurchasePrice'].sum()

In [26]:
yearly_trends = df.groupby(df['PurchaseDate'].dt.year)['PurchasePrice'].sum()

In [28]:
top_product_categories = df.groupby('ProductID')['PurchasePrice'].sum().nlargest(3)

# Create the summary report dictionary
summary_report = {
    'Total Purchases': total_purchases,
    'Total Revenue': total_revenue,
    'Average Purchase Value': average_purchase_value,
    'Top Customers': top_customers,
    'Customer Behavior': customer_behavior,
    'Monthly Trends': monthly_trends,
    'Yearly Trends': yearly_trends,
    'Top Product Categories': top_product_categories
}

# Display the summary report
for key, value in summary_report.items():
    print(f'{key}: {value}')

Total Purchases: 1000
Total Revenue: 489274.72
Average Purchase Value: 489.27471999999995
Top Customers: CustomerName
Brittany Miller      1324.45
Charles Hernandez    1289.25
James Miller         1080.46
Christopher Hill     1034.04
Jillian Baker         999.98
Name: PurchasePrice, dtype: float64
Customer Behavior: CustomerName
Aaron Arnold Jr.    441.53
Aaron Jennings      128.21
Aaron Miles         382.91
Aaron Rubio         790.76
Abigail Davis       219.69
                     ...
Yolanda Garrett      53.85
Zachary Levy        436.30
Zachary Morales     424.48
Zachary Vasquez     487.11
Zachary White       695.78
Name: PurchasePrice, Length: 993, dtype: float64
Monthly Trends: PurchaseDate  PurchaseDate
2023          6                4012.44
              7               47956.69
              8               33493.46
              9               46764.80
              10              38368.97
              11              39839.29
              12              51910.42
2024          1               43575.14
              2               41393.77
              3               37442.66
              4               34165.64
              5               42799.97
              6               27551.47
Name: PurchasePrice, dtype: float64
Yearly Trends: PurchaseDate
2023    262346.07
2024    226928.65
Name: PurchasePrice, dtype: float64
Top Product Categories: ProductID
237    9839.18
282    8561.53
260    7806.42
Name: PurchasePrice, dtype: float64